.Compartilhe {
  border: 2px solid #fff;
  border-radius: 10px;
  width: 450px;
  margin: 0 auto;
  padding: 20px;
}

.Compartilhe button {
  background-color: #4caf50;
  color: #fff;
  padding: 5px;
  border-color: #4caf50;
  border-radius: 10px;
  margin: 0 10px;
  font-size: 0.8em;
  font-weight: bold;
}

.Compartilhe ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px auto 0;
  list-style: none;
}

.Compartilhe li > button {
  padding: 4px 8px;
  border-radius: 50px;
}

.Compartilhe p,
.Compartilhe span {
  font-size: 1.3em;
  color: rgb(62, 61, 61);
  margin-bottom: 10px;
}
