header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
}

header img {
  height: 40px;
  border-radius: 10%;
}

header h1 {
  font-size: 20px;
  color: #62cc74;
  font-weight: bold;
  margin: 0;
}
